@charset "utf-8";



/* =============================================
- form
================================================ */

#form_page{
	background-color: #F4F4F4;
}


#contact_form{
	.inner{
		max-width: 720px;
		margin: 0 auto;
	}
	.formHead{
		.title{
			font-size: 21px;
			font-family: $montserrat;
			margin-bottom: 25px;
		}
	}
	.btnStyle02.gray{
		background-color: #C8C8C8;
	}
}

.formContent {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 45px;
	.requre{
		color: #fff;
		background-color: #8C8C8C;
		display: inline-block;
		@include font-smoothing();
		line-height: 1em;
		margin-right: 15px;
		padding: 3px 5px;
		font-size: 13px;
		font-weight: normal;
	}
	.col,.row{
		@include max-screen(767px) {
			.input{
				+ .input{
					margin-top: 10px;
				}
			}
		}
	}
	dl {
		padding-top: 20px;
		border-top: 1px solid #C8C8C8;
		dt {
			font-size: 15px;
			margin-bottom: 8px;
			@include max-screen(767px) {
				.requre{
					margin-right: 8px;
				}
				p{
					display: inline-block;
				}
			}
		}
		+ dl{
			margin-top: 20px;
		}
		&:last-of-type{
			padding-bottom: 20px;
			border-bottom: 1px solid #C8C8C8;
		}
	}
	textarea,
	input[type="text"],
	input[type="email"] {
		width: 100%;
		font-size: 16px;
		padding: 12px 10px;
		border: 1px solid #fff;
		@include placeholderColor(#C8C8C8);
		border-radius: 0px;
		background-color: #fff;
		@include border-radius(5px);
		&:focus {
			background-color: #FFF;
			@include transition(all, 0.2s, ease);
		}
	}
	select{
		width: 100%;
		font-size: 16px;
		padding: 12px 10px;
		@include placeholderColor(#C8C8C8);
		border-radius: 0px;
		background-color: #fff;
		@include border-radius(5px);
	}
	option{
		@include placeholderColor(#C8C8C8);
	}
	textarea {
	    vertical-align: bottom;
			white-space: pre-wrap;
	}
	.btnaddress{
		background-color: #C8C8C8;
		width: 100px;
		text-align: center;
		font-size: 14px;
		@include border-radius(5px);
		margin-top: 15px;
		cursor: pointer;
	}
	.note{
		margin-top: 10px;
		font-size: 14px;
	}
	.btnBack,.btnSend{
		display: none;
	}
	.btnArea{
		margin-top: 40px;
		.btnStyle02{
			font-size: 14px;
		}
		@include max-screen(767px) {
			.btnStyle02{
				+ .btnStyle02{
					margin-top: 10px;
				}
			}
		}
	}
}


@include min-screen($tab) {
	#contact_form{
		.inner{
			max-width: 720px;
			margin: 0 auto;
		}
		.formHead{
			.title{
				font-size: 40px;
				margin-bottom: 55px;
				letter-spacing: 0.05em;
			}
		}
	}
	.formContent {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 45px;
		.requre{
			width: 40px;
			text-align: center;
		}
		.col{
			@include flexbox;
			@include justify-content(space-between);
			.input{
				width : 205px;
			}
		}
		.row{
			.input{
				+ .input{
					margin-top: 10px;
				}
			}
		}
		dl{
			margin: 0px;
			@include flexbox;
			@include align-items(flex-start);
			padding-top: 30px;
			dt{
				width: 290px;
				padding-top: 10px;
				font-size: 16px;
				@include flexbox;
				@include align-items(center);
				padding-right: 40px;
				p{
					flex: 1;
					text-align: right;
				}
			}
			dd{
				flex: 1;
			}
			+dl{
				margin-top: 30px;
			}
			&:last-of-type{
				padding-bottom: 20px;
				border-bottom: 1px solid #C8C8C8;
			}
			textarea,
			input[type="text"],
			input[type="email"] {
				padding: 16px 20px;
				letter-spacing: 0.05em;
			}
			select{
				padding: 16px 20px;
				letter-spacing: 0.05em;
				@include font-smoothing();
			}
		}
		.addressWrap{
			@include flexbox;
			@include align-items(center);
			.input{
				flex: 1;
				padding-right: 40px;
			}
		}
		.btnaddress{
			margin-top: 0px;
			margin-right: 30px;
			@include transition(all,0.2s,ease-in-out);
			&:hover{
				background-color: #232323;
				color: #fff;
			}
		}
		.btnArea{
			margin-top: 40px;
			.btnStyle02{
				max-width: 350px;
				font-size: 16px;
				+ .btnStyle02{
					margin-left: 10px;
				}
			}
		}
	}
}




.error_message{
	margin-top: 8px;
	span{
		display: inline-block;
		font-size: 14px;
		color: #fff;
		background-color: #B58D32;
		padding: 6px 10px;
		line-height: 1em;
		border-radius: 3px;
	}
	+ .error_message{
		margin-top: 5px;
	}
}








/* =============================================
- form
================================================ */


.confirm,.mw_wp_form_confirm{
	.formheadArea,.checkArea,.btnaddress,.horizontal-item{
		display: none;
	}
	.formContent{
		padding-top: 30px;
		margin-top: 0px;
		textarea,input[type="text"] ,select{
			display: none;
		}
		dl{
			padding: 20px 0px;
			dt{
				padding-top: 0px!important;
				margin-bottom: 10px;
				line-height: 1em;
				font-weight: normal;
				@include min-screen($tab) {
					margin-bottom: 0px;
				}
				p{
					color: #707070;
				}
				// p{
				// 	text-align: left;
				// }
			}
			dd{
				line-height: 1em;
			}
			+dl{
				margin-top: 0px;
			}
		}
		.btnBack,.btnSend{
			display: inline-block;
		}
		.note,.btnConfirm{
			display: none;
		}
		.selectWrap {
			margin-left: 0px;
			&:before,&:after {
				display: none;
			}
		}
		.address-group{
			margin: 10px 0px;
			.notice{
				display: inline-block;
			}
			.selectWrap{
				margin-left: 0px;
			}
		}
		.postal-group{
			span{
				display: none;
			}
		}
	}
}



@include min-screen($tab) {
	.confirm,.mw_wp_form_confirm{
		.formContent{
			dl{
				padding: 30px 10px;
			}
		}
	}
}



@include min-screen($pc) {
	.confirm,.mw_wp_form_confirm{
		dl{
			padding: 30px 0px;
		}
	}
}














/* =============================================
- thankBlock
================================================ */


#contact_form{
	.thankBlock{
		.textArea{
			padding: 20px 0px;
			border-top: 1px solid #C8C8C8;
			border-bottom: 1px solid #C8C8C8;
		}
		.btnArea{
			margin-top: 30px;
		}
		.btnStyle02{
			max-width: 340px;
		}
	}
}




@include min-screen($tab) {
	#contact_form{
		.thankBlock{
			.textArea{
				padding: 40px 0px;
			}
			.btnArea{
				margin-top: 50px;
			}
		}
	}
}


// IE10 ~ IE11
_:-ms-input-placeholder, :root .error_message {
	@include min-screen($tab) {
		line-height: 1em;
	}
}
_:-ms-input-placeholder, :root .error_message span {
	@include min-screen($tab) {
		padding-top: 5px;
		padding-bottom: 1px;
	}
}
