extends ../_inc/_layout_inner.pug

append vars
	include ../_inc/_config.pug
	- var key = 'staff01';
	- var page = pages[key];

append js
	script(type='text/javascript' src=page.path+"assets/js/inner.js")

append css
	link(rel="stylesheet", href=page.path+"assets/css/inner.css")



append innerVisual

	#innerVisual
		.headTextArea
			h1.title STAFF
			p.sub スタッフ



block contents
	section#staff_single
		.inner

			.colLayout
				.img
					img(src=page.path+"assets/images/staff/staff01.jpg" alt="")


				.textBox
					.nameArea
						h2.position 店長
						p.name 野口

					.infoArea
						dl
							dt スタイリスト歴
							dd 20年
						dl
							dt 得意な技術
							dd カット
						dl
							dt 得意なスタイル
							dd ナチュラル
						dl
							dt 取得資格・受賞歴
							dd
								ul
									li ・着付け師
									li ・訪問介護士
									li ・カラーコーディネーター

						dl 
							dt 趣味
							dd 子供と遊ぶ
						dl
							dt 休日の過ごし方
							dd 家族と過ごす
						dl
							dt メッセージ
							dd alottaでは施術スペースは他にはない全個室型スペースになっております。部屋は、1人部屋、ご家族、お友達と一緒に入れるお部屋全10室をご用意しております。#[br]オープンスペースのサロンと違い他のお客様の会話が気になったり、またご自分の会話などが他の方に聞かれたり、顔が見られたりすることも少ないです。そのためお子様づれのお客様にも大変ご支持頂いております。#[br]併設ショップではサロン専売品を約5000点用意しております。ご自宅でのホームケア、スタイリング剤などをスタッフがお客様一人一人に合った商品をご紹介させて頂くことが可能です。#[br]皆様のパーソナルサロンとして是非alottaをご利用ください。




			.btnArea
				.btn: a.btnStyle02.gray.back(href="./") スタッフ一覧ページへ戻る
				//- .btn: a.btnStyle02(href="https://beauty.hotpepper.jp/slnH000346915/stylist/T000364802/" target="_blank") 指名して予約する
