#bottom_entry
	.inner


		.textBox

			.titleArea
				h2.title RESERVE
				p.note サロンのご予約はこちら

			.column
				.row
					p.midashi お子様連れ、ご家族、男性一人でもお気軽にご来店ください。

					.textArea
						p サロンへのご予約は以下の予約フォーム（24時間受付）よりお願いします。

						.btnArea
							a.btnStyle02(href="https://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000346915" target="_blank") Webでのご予約はこちらから

						.phoneArea
							.it
								p お電話でのご予約はこちらから#[br]（受付時間 10:00〜19:00）
							.it
								a.phone(href="tel:0120900533") 0120-900-533

				.row
					.accessArea
						p.label アクセス
						p.root 中央線・総武線 吉祥寺駅北口より徒歩6分
						p.address 〒180－0004 東京都武蔵野市吉祥寺本町2-17-7（フォルムトミノ吉祥寺1F）

					.accessArea
						p.label 受付時間
						p.root 10:00〜19:00（日・祝は18:00最終受付）
						p.address 月曜日定休（当社指定日を除く）
