- 
	var pages = {
		top : {
			url : 'http://www.alotta-hair.com/',
			title : 'alotta【アロッタ】｜吉祥寺の完全個室型ヘアサロンとショップ',
			description : '東京・吉祥寺にあるalotta【アロッタ】は、美容機器・商品のメーカー兼商社が直営している完全個室型ヘアサロンとショップです。最新の美容用品と最高の技術だけでなく、「心」も整える美容室です。お子さま連れや男性お一人でもお気軽にご来店ください。',
			keywords : 'アロッタ 吉祥寺,吉祥寺 美容室,吉祥寺 ヘアサロン,東京 個室 美容室',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		salon : {
			url : 'http://www.alotta-hair.com/salon.html',
			title : 'サロン｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】は、お客様に“あなただけのプライベートな時間”を過ごしていただくために、ひとつの部屋・おひとりの席・ひとりの美容師のスタイルで、最新の商品と最高の技術をお届けする美容室です。',
			keywords : '吉祥寺 個室 美容院,吉祥寺 ヘアサロン 個室,吉祥寺 サロン 有名,吉祥寺 ヘッドスパ',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		shop : {
			url : 'http://www.alotta-hair.com/shop.html',
			title : 'ショップ｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '美容機器・製品の商社＆メーカーが運営するヘアサロンalotta【アロッタ】は、本当にオススメしたいモノをお届けするために、5,000アイテム以上のプロユース品を揃えたショップを併設しています。コンシェルジュへの相談、ヘアサロンでのお試しも可能です。',
			keywords : 'アロッタ 吉祥寺,吉祥寺 美容 ショップ,吉祥寺 プロユース品,ヘアサロン アイテム 購入',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		staff : {
			url : 'http://www.alotta-hair.com/staff.html',
			title : 'スタッフ紹介｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ一覧ページです。髪型や髪質、髪のクセ、スタイリングなど、髪に関するお悩みは人それぞれ。どんなお悩みも、経験豊富なスタッフにお気軽にご相談ください。',
			keywords : '吉祥寺 美容師,吉祥寺 アロッタ,アロッタ スタッフ',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff01 : {
			url : 'http://www.alotta-hair.com/staff/staff01.html',
			title : '店長・野口｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。店長の野口です。「施術スペースは他にはない全個室型スペースになっておりますので、皆様のパーソナルサロンとして、ぜひアロッタをご利用ください」',
			keywords : 'アロッタ スタッフ,美容師 紹介,アロッタ 店長',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff02 : {
			url : 'http://www.alotta-hair.com/staff/staff02.html',
			title : 'スタイリスト・北村｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。スタイリストの北村です。「とにかくお客様への接客には力をいれておりますので、髪のご相談をお聞かせいただけると嬉しいです」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 スタイリスト',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff03 : {
			url : 'http://www.alotta-hair.com/staff/staff03.html',
			title : 'スタイリスト・石橋｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。スタイリストの石橋です。「おひとりでも、ご友人やご家族とでも、ゆっくりとリラックスして施術を受けることができる個室でいろいろご相談ください！」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 スタイリスト',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff04 : {
			url : 'http://www.alotta-hair.com/staff/staff04.html',
			title : 'スタイリスト・永井｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。スタイリストの永井です。「髪質改善や縮毛矯正を年間500件以上施術させていただいてますので、お客様に合ったピッタリな処方をご提供します」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 スタイリスト',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff05 : {
			url : 'http://www.alotta-hair.com/staff/staff05.html',
			title : 'スタイリスト・阿部｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。スタイリストの阿部です。「10年前に戻れたらなーって後悔しないように、なりたい自分を1日でも早く見つけませんか？」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 スタイリスト',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff06 : {
			url : 'http://www.alotta-hair.com/staff/staff06.html',
			title : 'ショップリーダー・鈴木｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。ショップリーダー・スパニストの鈴木です。「日常から離れた非日常が体験でき、ご自身にあう商品が見つかるサロンです」',
			keywords : 'アロッタ スタッフ,美容師 紹介,ショップリーダー',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff07 : {
			url : 'http://www.alotta-hair.com/staff/staff07.html',
			title : 'アシスタントリーダー・小野｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。アシスタントリーダー・着付け師・スパニストの小野です。「7年間の美容師歴を活かし、安定した技術と専門的な知識で皆様の様々なお悩みにしっかりと対応させていただきます」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 着付け,吉祥寺 美容室 着付け',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff08 : {
			url : 'http://www.alotta-hair.com/staff/staff08.html',
			title : 'アシスタント・島｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。アシスタントの島です。「“今日の気分も髪次第！”お客様の毎日が過ごしやすく、happyになれるお手伝いがしたいです」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 美容師 アシスタント',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff09 : {
			url : 'http://www.alotta-hair.com/staff/staff09.html',
			title : 'アシスタント・渡部｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。アシスタント・アイリストの渡部です。「一人ひとりの親波や理想、ライフスタイルに合わせて、ベストスタイルをご提供させていただきます」',
			keywords : 'アロッタ スタッフ,美容師 紹介,吉祥寺 美容師 アシスタント',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff10 : {
			url : 'http://www.alotta-hair.com/staff/staff10.html',
			title : 'レセプション・岡田｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。レセプションの岡田です。「髪のお悩みなどをお聞きし、お客様それぞれに適したスタイリストをご提供させていただきます」',
			keywords : 'アロッタ スタッフ,美容師 紹介',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff11 : {
			url : 'http://www.alotta-hair.com/staff/staff11.html',
			title : 'レセプション・安田｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。レセプションの安田です。「リラックスしていただける個室のプライベートな空間にご案内させていただきます」',
			keywords : 'アロッタ スタッフ,美容師 紹介',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		staff12 : {
			url : 'http://www.alotta-hair.com/staff/staff12.html',
			title : 'レセプション・仲地｜ヘアサロンalottaのスタッフ紹介',
			description : '吉祥寺のヘアサロンalotta【アロッタ】のスタッフ紹介ページ。レセプションの仲地です。「あまり他にはない個室空間が魅力の美容室で、リラックスしていただいたり、スタッフとの会話を楽しんでいただけます」',
			keywords : 'アロッタ スタッフ,美容師 紹介',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		topics : {
			url : 'http://www.alotta-hair.com/topics.html',
			title : 'トピックス｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '吉祥寺にある完全個室型ヘアサロンalotta【アロッタ】のトピックスページです。アロッタのスタッフからお客様へ耳寄りの情報や最新のニュースをお届けいたします。',
			keywords : '吉祥寺 ヘアサロン,アロッタ 吉祥寺,アロッタ ブログ,アロッタ 最新情報',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		access : {
			url : 'http://www.alotta-hair.com/access.html',
			title : 'アクセス｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】までのアクセスをご紹介します。アロッタは、JR中央線・総武線「吉祥寺駅」の北口より徒歩6分の場所にあります。完全個室型のサロン、専売品販売ショップの営業時間は午前10時からです。',
			keywords : 'アロッタ アクセス,吉祥寺 美容室,吉祥寺駅 ヘアサロン',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		contact : {
			url : 'http://www.alotta-hair.com/contact/',
			title : 'お問い合わせ｜吉祥寺のヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】へのご相談、ご質問等がございましたら、こちらのお問い合わせ専用フォームをご利用ください。美容室に関することはもちろん、併設するショップへのご質問もお気軽にどうぞ。',
			keywords : '吉祥寺 アロッタ,ヘアサロン アロッタ,アロッタ お問い合わせ,アロッタ 電話',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		sitemap : {
			url : 'http://www.alotta-hair.com/sitemap.html',
			title : 'サイトマップ｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '東京・吉祥寺の完全個室型ヘアサロンalotta【アロッタ】のサイトマップです。',
			keywords : 'アロッタ 吉祥寺,アロッタ 美容室',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		company : {
			url : 'http://www.alotta-hair.com/company.html',
			title : '運営会社｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : 'ヘアサロンalotta【アロッタ】を運営する株式会社トリコインダストリーズについてご紹介します。弊社は、1972年創業の理美容専門商社・理美容雑貨及び家電メーカーです。美容業を幅広く手掛けております。',
			keywords : '吉祥寺 アロッタ,アロッタ 運営会社,トリコインダストリーズ,ヘアサロン 運営会社',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		faq : {
			url : 'http://www.alotta-hair.com/faq.html',
			title : 'よくあるご質問｜吉祥寺の完全個室型ヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】に寄せられる「よくあるご質問」をご紹介します。アロッタをご利用されるお客様へ、ヘアサロンに関する疑問点、ショップに関するルールなどを掲載しています。その他ご質問がございましたらお気軽にご連絡ください。',
			keywords : 'アロッタ 吉祥寺,吉祥寺 ヘアサロン,アロッタ 相談,アロッタ お問い合わせ',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: './'
		},
		form : {
			url : 'http://www.alotta-hair.com/contact/form.php',
			title : 'お問い合わせフォーム｜吉祥寺のヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】へのご相談、ご質問等がございましたら、こちらのお問い合わせ専用フォームをご利用ください。美容室に関することはもちろん、併設するショップへのご質問もお気軽にどうぞ。',
			keywords : '吉祥寺 アロッタ,ヘアサロン アロッタ,アロッタ お問い合わせ,アロッタ 電話',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
		privacy : {
			url : 'http://www.alotta-hair.com/privacy.html',
			title : 'プライバシーポリシー｜吉祥寺のヘアサロンalotta【アロッタ】',
			description : '吉祥寺のヘアサロンalotta【アロッタ】の個人情報保護方針ページです。本ページでは、当ウェブサイト上で個人情報を取得した場合の取扱い方針についてご説明しています。',
			keywords : 'アロッタ 吉祥寺,個人情報保護方針,プライバシーポリシー',
			image : 'http://www.alotta-hair.com/assets/images/ogp.jpg',
			path: '../'
		},
	}
