extends ./_inc/_layout_inner.pug

append vars
	include ./_inc/_config.pug
	- var key = 'faq';
	- var page = pages[key];

append js
	script(type='text/javascript' src=page.path+"assets/js/inner.js")

append css
	link(rel="stylesheet", href=page.path+"assets/css/inner.css")

append innerVisual

	#innerVisual
		.headTextArea
			h1.title FAQ
			p.sub よくあるご質問

	
block contents
	section#faq
		.inner


			.column

				.titleStyle05
					p.note SALON
					h2.title ヘアサロンについて
					.square


				.faqList
					dl
						dt #[span.q Q]小さな子供がいるのでなかなか美容室にいくことができません。
						dd
							p alottaでは入り口や店内にも一部スロープを設置しています。#[br]段差がなく、お客様をお部屋までご案内することができます。#[br]全室個室型なので、周りに気兼ねすることなくお子様とご一緒にご来店いただけます。

					dl
						dt #[span.q Q]隣のお客さんやスタイリスト以外のスタッフに、髪の悩みを聞かれたくありません
						dd
							p alottaは10室の個室型を完備し、プライベートな空間をご用意いたします。どんな悩みでも相談可能です。#[br]他のお客様との接点も限られているのでパーマやカラー中の姿を他のお客様に見られることもありません。

					dl
						dt #[span.q Q]思っていたようなスタイルにならなかった。スタイリストを変更するのは気まずい？
						dd
							p alottaでは、実力主義によりヘアスタイリストの技術と地位の向上を目指しています。#[br]気兼ねなく気軽にスタイリストを変更できます。カウンセリング後、すぐにカット台、シャンプー台を備えた個室にご案内します。#[br]前回や前々回のスタイリストと顔を合わすことはなく、スタイリストを変更いただいても気まずくありません。

					dl
						dt #[span.q Q]希望をうまく伝えるにはどうしたらいいの？
						dd
							p alottaにはスタイリスト以外にホテルのコンシェルジュの様な「スタイリストソムリエ」が常駐します。#[br]入店からお見送りまでお客様をアテンドいたします。#[br]入店時レセプションでは、スタイリストソムリエが要望をお聞きし、お客さまの最適なスタイリストをお薦めします。#[br]またアフターカウンセリングもスタイリストソムリエが担当いたします。

					dl
						dt #[span.q Q]ディレクター、トップスタイリスト、スタイリストって何？私に合っている人にスタイリングしてほしい

						dd
							p どのような肩書がついていてもプロとして技術が優れているのは当たり前です。#[br]alottaでは、各スタイリストの得意なスタイル、おしゃべり好き、寡黙などスタイリストの性格や個性を掲載したファイルをご用意しています。#[br]スタイリストソムリエがご提案することも可能です。

					dl
						dt #[span.q Q]美容室ってカット台とシャンプー台への移動の繰り返しがとっても大変！面倒です。
						dd
							p alottaでは個室型の中に、カット台とシャンプー台を設置。#[br]お客様は椅子にお座りいただいたらそのまますべての施術が行えるワンストップサービスを採用しています。#[br]移動がないのでお足元の悪いお客様でもご来店いただけます。

					dl
						dt #[span.q Q]美容室はなぜ1つの商品しか勧めないの？それって本当に私に合ってる？
						dd
							p 一般の美容室ではそのお店で使っているシャンプーやスタイリング剤がほとんどです。#[br]alottaでは、4000アイテム以上の商品をご用意。#[br]専門知識を持ったスタッフがブランドにとらわれずお客様に本当に合った商品を何種類かご提案します。#[br]美容室での施術時に使用するシャンプーやトリートメントもスタイリストがお客様に合ったものをご提案いたします。

					//- dl
					//- 	dt #[span.q Q]小さな子供がいるのでなかなか美容室にいくことができません。
					//- 	dd
					//- 		p alottaは全室個室なので、周りに気兼ねすることなくお子様とご一緒にご来店いただけます。#[br]入口や店内にも一部スロープを設置しています。段差がなく、ベビーカーで、そのままお客様をお部屋までご案内することができます。


					//- dl
					//- 	dt #[span.q Q]希望をうまく伝えるにはどうしたらいいの？

					//- 	dd
					//- 		p 「静かに過ごしたい」など、お部屋での過ごし方のご希望はレセプションで承ります。ヘアスタイルのご希望は写真をお持ちいただくと、イメージが伝わりやすいです。個室内でスタイリストにお伝えください。





			.column

				.titleStyle05.blue
					p.note SHOP
					h2.title サロン専売品#[br.sp]販売ショップについて
					.square


				.faqList
					p.midashi お買い物について

					dl
						dt #[span.q Q]ヘアサロンを利用しなくてもショップでも買い物できますか？
						dd
							p ショップのみのご利用も大歓迎です。お気軽にお越しください。

					dl
						dt #[span.q Q]たくさんの商品があって分からないのですが、私の髪質に合うものを選んでもらえますか？
						dd
							p お声がけいただきましたら、美容師がお客様の悩みに合った商品を紹介いたします。

					dl
						dt #[span.q Q]商品の取り置きはできますか？
						dd
							p 申し訳ございません。商品のお取り置きは行っておりません。

					dl
						dt #[span.q Q]電話で注文できますか？
						dd
							p ショップ内で会員登録していただけますと、その後は電話での注文もお受けしております。

					dl
						dt #[span.q Q]購入した商品を配送してもらえますか？
						dd
							p はい、大丈夫です。別途配送料を頂き、宅配便をご利用いただけます。

					dl
						dt #[span.q Q]ギフトラッピングできますか？
						dd
							p 有料と無料のラッピングサービスをご用意しています。

					dl
						dt #[span.q Q]カラー剤・パーマ液は置いてますか？
						dd
							p 申し訳ございません。カラー剤・パーマ液の取り扱いはございません。


				.faqList
					p.midashi 価格について

					dl
						dt #[span.q Q]alotta価格とは何ですか？
						dd
							p  alotta独自の価格設定（税抜）です。定価15％OFFを基本に設定していますが、定価で販売する商品、特価商品などがございます。税抜き価格ですので、別途消費税がかかります。

					dl
						dt #[span.q Q]alotta価格で買うには会員登録必要ですか？
						dd
							p alotta価格は、皆様共通の価格ですので、会員登録は必要ございません。LINE＠の友達として追加していただくと、更に5％OFFになります。

					dl
						dt #[span.q Q]alottaのサロン会員価格とは何ですか？
						dd
							p alotta価格から10％ＯＦＦになるサロン会員様用のサービスです。サロンのご利用がない日でも、カードのご提示でサロン会員価格が適用されます。

					dl
						dt #[span.q Q]お得になるセールやクーポンなどはありますか？
						dd
							p 季節商品のセールなどの他、LINE＠からお得なイベントやクーポンの配信を行っております。

					dl
						dt #[span.q Q]美容学生ですが何か割引はありますか？
						dd
							p 美容学生証を提示していただければ、alotta価格から10％OFFでお買い求めいただけます



				.faqList
					p.midashi 営業時間・その他

					dl
						dt #[span.q Q]営業時間を教えてください
						dd
							p  10:00〜19:30まで営業しています。
					dl
						dt #[span.q Q]定休日はありますか？
						dd
							p 年末年始休業、夏季休業などがありますが、曜日による定休日はございません。
					dl
						dt #[span.q Q]駐輪場は使えますか？
						dd
							p 申し訳ございません。ショップ専用のお客様用駐輪場はございません。サロン利用時にご利用いただける駐輪場がございますので、予約の際にお申し出ください。
